@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace HideAndSeek.UI

<root>
	<div class="hs_window">
    </div>
</root>

@code
{


	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	//protected override int BuildHash() => System.HashCode.Combine( MyStringValue );
}
